@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

@layer base {
  body {
    @apply font-century;
  }
}